---
import Layout from "../layouts/Layout.astro";
import UserList from "../components/UserList.svelte";
import {verifyAuth} from "../lib/cookieAuth";

const {cookies, redirect} = Astro;
const {user, error} = await verifyAuth(cookies);

if (error || !user) {
  return redirect("/");
}
---

<Layout>
  <main class='container mx-auto px-4 py-8'>
    <div class='max-w-4xl mx-auto'>
      <h1 class='text-3xl font-bold mb-8'>User Management</h1>
      <UserList client:load currentUserEmail={user.email} />
    </div>
  </main>
</Layout>
