---
import Layout from '../layouts/Layout.astro';
import OTPForm from '../components/OTPForm.svelte';

const email = Astro.url.searchParams.get('email');
const token = Astro.url.searchParams.get('token');
---

<Layout showTopBar={false}>
  <main class='container mx-auto px-4 py-8'>
    <OTPForm email={email} token={token} client:load />
  </main>
</Layout>
