---
import "../styles/global.css";

import TopBar from "../components/TopBar.svelte";

interface Props {
  showTopBar?: boolean;
}

const {showTopBar = true} = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>🧠 Second Brain</title>
  </head>
  <body class='min-h-screen bg-gray-50'>
    {showTopBar && <TopBar client:load />}
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
